@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: #171b31;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-g{
  background-image:  linear-gradient(to right, #000000, #00000062);
}

.ani1{
  animation: ani 5s infinite ease-in-out;
}
.ani2{
  animation: ani 5s infinite ease-in-out;
  animation-delay: 900ms;
}

@keyframes ani {
  0%{
    margin-top: 0rem;
  }
  50%{
    margin-top: 2rem;
  }
  100%{
    margin-top: 0rem;
  }
}

.rot1{
  animation: rot1 5s infinite ease-in-out;
  transform: rotate(0);
}

.rot2{
  animation: rot2 5s infinite ease-in-out;
  animation-delay: 1500ms;
  transform: rotate(20);
}

@keyframes rot1 {
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(-10deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

@keyframes rot2 {
  0%{
    transform: rotate(20deg);
  }
  50%{
    transform: rotate(30deg);
  }
  100%{
    transform: rotate(20deg);
  }
}